<config>
  <interfaces xmlns="urn:ietf:params:xml:ns:yang:ietf-interfaces">
  {% for interface in interfaces %}
	<interface>
	  <name>{{interface.name}}</name>
	  <type xmlns:ianaift="urn:ietf:params:xml:ns:yang:iana-if-type">ianaift:ethernetCsmacd</type>
	  <enabled>true</enabled>
	  <ipv4 xmlns="urn:ietf:params:xml:ns:yang:ietf-ip">
		<address>
		  <ip>{{interface.ip}}</ip>
		  <netmask>{{interface.mask}}</netmask>
		</address>
	  </ipv4>
	</interface>
	{% endfor %}
  </interfaces>
</config>